@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
}

h1{
    color: #313131;
    font-size: 48px;
    font-weight: 700;
}

h4{
    font-size: 20px;
    font-weight: 400;
    color: #7f7e7e;
}

.container h4{
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}

.box{
    width: 25%;
    padding: 15px;
}

.col-1,.col-5{
    padding-left: 0;
    padding-right: 30px;
}

.col-2, .col-6{
    padding-left: 0;  
}

.col-3, .col-7{
    padding-right: 0;  
}

.col-4,.col-8{
    padding-right: 0;
    padding-left: 30px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #c4bcbc21;
    padding: 25px 15px;
    min-height: 100%;
    box-shadow: 1px 4px 20px 0 #0000000f;
}

.card img{
    width: 40px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
    color: #252525;
}

.description {
    color: #616161;
    font-size: 16px;
    line-height: 1.7em;
}